<div style='font-style: italic;'>
  <p>Welcome! We are sending this email to notify you about an important event.</p>
  <p>Please click the
    <a href='{{url}}'>link</a>
    to reset your account password.</p>
  <p>Best regards,<br />NestJS</p>
</div>